* {
  margin: 0;
  padding: 0;
}

:root {
  --logo-color: #4d5ae5;
  --logo-color-2: #404bbf;
  --first-color: #2e2f42; /*navy blue*/
  --second-color: #434455; /*slate*/
  --third-color: #e7e9fc; /*cornflower*/
  --fourth-color: #f4f4fd; /*cloud*/
  --fifth-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--first-color);
  background-color: var(--fifth-color);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1158px;
  padding: 0px 15px;
}

.section {
  padding: 120px 0px 120px 0px;
}

.navigation-block,
.navigation,
.navigation-list,
.contacts {
  display: flex;
}

.navigation {
  display: flex;
  gap: 77px;
}

.navigation-block {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.reversed-footer {
  display: flex;
  gap: 331px;
  align-items: center;
  padding: 24px 0px;
}

.navigation-list {
  gap: 40px;
}

.contacts {
  gap: 40px;
}

.logo {
  color: var(--first-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.03em;
}

.logo-colored {
  color: var(--logo-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.03em;
}

.page {
  color: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page:hover {
  color: var(--second-color);
}

.page:active,
.page:focus {
  color: var(--logo-color);
}

.contact {
  color: inherit;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact:hover {
  color: var(--second-color);
}

.contact:focus,
.contact:active {
  color: var(--logo-color);
}

.head-hero {
  background-color: var(--first-color);
  padding: 192px 0px;
}

.hero-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-heading {
  color: var(--fifth-color);
  font-size: 56px;
  font-weight: 500;
  line-height: 1.07;
  max-width: 492px;
  letter-spacing: 0.02em;
}

.hero-button {
  color: var(--fifth-color);
  background-color: var(--logo-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.17;
  border-radius: 4px;
  border-width: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 16px 32px 16px 32px;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.hero-button:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.hero-button:active,
.hero-button:focus {
  background-color: var(--logo-color-2);
}

.features {
  display: flex;
  justify-content: center;
}

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  margin-top: 8px;
}

.team-goals,
.goals {
  display: flex;
}

.team-goals {
  flex-direction: column;
  padding: 0px 0px 120px;
}

.goals-list {
  margin-top: 72px;
  display: flex;
  gap: 24px;
}

.team-reveal,
.team-cards {
  display: flex;
}

.team-cards {
  margin-top: 72px;
  gap: 24px;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px 0px;
  gap: 8px;
}

.heading,
.name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.second-heading {
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.crew {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.crew > img {
  display: block;
}

.position {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* portfolio */

.button-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}

.filter-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  color: var(--logo-color);
  background-color: var(--fourth-color);
  border-color: var(--third-color);
  border: 1px solid var(--third-color);
  border-radius: 4px;
  padding: 12px 24px;
}

.filter-button:hover {
  color: var(--fourth-color);
  background-color: var(--logo-color);
  border: 1px solid var(--logo-color);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button:active,
.filter-button:focus {
  color: var(--third-color);
  background-color: var(--logo-color-2);
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card > img {
  display: block;
}

.photo-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.about-text {
  display: flex;
  flex-direction: column;
  padding: 32px 0px 32px 16px;
  padding-right: auto;
  gap: 8px;
  border-bottom: 0.5px solid #f4f4fd;
}

.photo-heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.photo-text {
  line-height: 1.5;
  color: var(--second-color);
}

/* footer  */

footer {
  background-color: var(--first-color);
}

.reversed-header {
  padding: 100px 0px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.logo-footer {
  color: var(--fourth-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.footer-text {
  line-height: 1.5;
  color: var(--third-color);
  background-color: var(--first-color);
  letter-spacing: 0.02em;
  width: 264px;
}

.hidden {
  display: none;
}
